//
// Animated Alert
//

.alert-growl {
  top: -800px;
  right: 2em;
  position: absolute;
  z-index: 9999;
  animation-name: slideInGrowl;
  animation-duration: 8s;
  -webkit-animation-name: slideInGrowl;
  -webkit-animation-duration: 8s;
}

@-webkit-keyframes slideInGrowl {
  0% {
    top: -800px;
  }
  10% {
    top: 10px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 10px;
  }
  80% {
    top: 15px;
  }
  100% {
    top: -800px;
  }
}

@keyframes slideInGrowl {
  0% {
    top: -800px;
  }
  10% {
    top: 10px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 10px;
  }
  80% {
    top: 15px;
  }
  100% {
    top: -800px;
  }
}